@model EditPhotos

<link rel="stylesheet" href="~/css/selectable.css" asp-append-version="true"/>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editPhotosModal">
    Edit photos
</button>

<div class="modal fade" id="editPhotosModal" tabindex="-1" aria-labelledby="editPhotosModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editPhotosModalLabel">Image list</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="photos-modal" data-encoded-name="@Model.ProductEncodedName"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="delete-button" type="button" class="btn btn-danger" asp-controller="Photo" asp-action="Delete">Delete</button>
            </div>
        </div>
    </div>
    <div class="container">
        <partial name="../Photo/_CreatePhotos" model="new CreatePhotos() { ProductEncodedName = Model.ProductEncodedName! }"/>
    </div>
</div>