.card {
    max-width: 40rem;
    height: 24rem;
}
.card-img-bottom {
    height: 80%;
    width: 100%;
    object-fit: scale-down;
}

.card-draggable {
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 20rem;
    z-index: 1;
}

.card-draggable-ghost {
    position: fixed;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    pointer-events: none;
    width: 20rem;
    z-index: 2;
}

#photos {
    position: relative;
}